<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>

</head>

<body>

    {{> nav}}

    <h1>dashboard</h1>

    <form action='/api/profilePic' method="post" enctype="multipart/form-data">
        <input type='file' name='image' />
        <input type="submit">
    </form>

    <img src={{profile.profilePic}} />

    {{> blogEntry }}

    <script src="./assets/js/dashboard.js"></script>
</body>

</html>